@charset "UTF-8";
/* @font-face {
    font-family: 'subway';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Subway-Footlong.eot);
    src: url(../fonts/Subway-Footlong?#iefix) format('embedded-opentype'),
         url(../fonts/Subway-Footlong.woff) format('woff'),
         url(../fonts/Subway-Footlong.ttf) format('truetype');
} */

/* 반응형, 모바일에서 모든요소의 패딩,선을 크기안에 포함시킴 */
/* *,:before,:after {box-sizing: border-box;} */

/* body에 들어갈수있는 모든태그의 여백빼기 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
main,
audio,
video {
  margin: 0;
  padding: 0;
}

/* html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* button태그에 손모양 커서 */
button {
  cursor: pointer;
}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,
img {
  border: 0;
  vertical-align: top;
}
/* 리스트 기호 빼기 */
ol,
ul {
  list-style: none;
}
/* 태그 기본 기울임꼴 제거 */
address,
em {
  font-style: normal;
}
strong {
  font-weight: normal;
}
/* 벤더프리픽스: 브라우저 제조사를 의미 */
a {
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe {
  overflow: hidden;
  border: 0;
}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
/* border-radius:0 -> iOS에서 테두리가 둥글게 나오므로 빼줌 */
/* -webkit-appearance: none -> iOS에서 폼요소에 내부그림자가 나오므로 빼줌 */
input,
select,
textarea,
button {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

/* 폼요소 포커스시 아웃라인 안보이게 */
/* input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
} */

/* textarea 리사이즈기능 빼기 */
textarea {
  resize: none;
}
/* 모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body {
  -webkit-text-size-adjust: none;
}

/*********************** 공통스타일 *************************/
/* body.on {overflow: hidden; height:100%;} */

body,
input,
button,
select,
textarea,
table {
  font-family: 'Noto Sans KR', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-size: 15px;
  color: #000;
}

/* Skip Navgation */
#skip_navi {
  position: relative;
}
#skip_navi a {
  position: absolute;
  left: 0;
  top: -999px;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  z-index: 99999;
  text-align: center;
}
#skip_navi a:hover,
#skip_navi a:active,
#skip_navi a:focus {
  top: 0;
}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend,
caption,
.blind {
  position: absolute;
  overflow: hidden;
  border: 5px solid red;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* float해제 */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* placeholder */
::-webkit-input-placeholder {
  color: #bbb;
} /* Webkit,크롬,사파리 */
:-moz-placeholder {
  color: #bbb;
} /* Firefox 4-18 */
::-moz-placeholder {
  color: #bbb;
  opacity: 1;
} /* Firefox 19+ */
:-ms-input-placeholder {
  color: #bbb !important;
} /* IE10+ */

/* 텍스트 선택 컬러 */
/* ::selection { background: #ef151e;color: #ffffff; } */

/* 폼요소 공통 */
/* IE x버튼, password 눈모양 안보이게 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* input search x버튼 안보이게 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* 체크박스 공통 */
.checkbox_wrap {
  display: inline-block;
}
input[type='checkbox'] + label {
  cursor: pointer;
}
input[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #dddddd;
  vertical-align: -7px;
  margin-right: 10px;
}
input[type='checkbox']:checked + label:before {
  background: url(../images/check_icon.png) no-repeat 50% 50% / 18px;
}

/* radio 공통 */
.radio_wrap {
  display: inline-block;
}
input[type='radio'] + label {
  cursor: pointer;
  position: relative;
}
input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: -17px;
}
input[type='radio']:checked + label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #009223;
}

/* select 공통 */
.select_wrap {
  display: inline-block;
  border: 2px solid #dddddd;
  width: 192px;
  position: relative;
}
.select_wrap:before {
  content: '';
  position: absolute;
  right: 13px;
  top: 50%;
  margin-top: -3px;
  width: 12px;
  height: 7px;
  background: url(../images/icon_select_arr.png) no-repeat;
}
.select_wrap select {
  width: 100%;
  border: none;
  height: 41px;
  color: #999;
  text-indent: 9px;
  cursor: pointer;
  position: relative;
  background: none;
}

/* 화살표제거 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* 익스 화살표 제거 */
select::-ms-expand {
  display: none;
}

/* textarea 공통 */
textarea {
  width: 100%;
  border: none;
  background: #f8f8f8;
  padding: 15px;
  box-sizing: border-box;
}

/* 파일선택 공통 */
.file_wrap {
  display: inline-block;
  border: 2px solid #dddddd;
  width: 466px;
  box-sizing: border-box;
  position: relative;
}
.file_wrap input[type='text'] {
  height: 41px;
  width: 100%;
  border: none;
  padding: 0 111px 0 13px;
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
}
.file_wrap label {
  width: 98px;
  height: 41px;
  text-align: center;
  line-height: 41px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 500;
  cursor: pointer;
}
.file_wrap label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -8px;
  width: 2px;
  height: 16px;
  background: #e8e8e8;
}

/* round 버튼 */
.btn_round {
  display: inline-block;
  /* 버튼디자인중 가장큰 높이의 절반입력 */
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
}

/* 테두리 버튼 */
.btn_border {
  border: 2px solid #009223;
  background: #fff;
  box-sizing: border-box;
}

/* 버튼 배경 */
.bg_point01 {
  background: #009223;
  color: #fff;
}

/* 등록하기 버튼 */
.btn_regist:after {
  content: '';
  display: inline-block;
  width: 21px;
  height: 16px;
  background: url(../images/icon_reg.png) no-repeat;
  margin-left: 5px;
}

/* 다운로드 버튼 공통 */
.btn_download {
  padding: 7px 3px;
  display: inline-block;
  /* 줄간격으로 인해 기본높이가 커지므로 줄여줌 */
  line-height: 1;
}
.btn_download:hover {
  border-bottom: 1px solid #000;
}
.btn_download:hover [class^='icon_download'] {
  transform: translateY(-1px);
}

[class^='icon_download'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url(../images/sprite_pc_new.png) no-repeat;
}
.icon_download_pdf {
  background-position-x: -125px;
}
.icon_download_mp4 {
  background-position-x: 0px;
}
.icon_download_txt {
  background-position-x: -25px;
}
.icon_download_ppt {
  background-position-x: -50px;
}
.icon_download_doc {
  background-position-x: -75px;
}
.icon_download_xls {
  background-position-x: -100px;
}

/* 필수 별 아이콘 */
.icon_star {
  display: inline-block;
  width: 7px;
  height: 6px;
  background: url(../images/icon_ess.png) no-repeat;
  vertical-align: 3px;
  margin: 0 3px;
}

/* 글자색 공통 */
/* .txt_point01 {color:#009223;} */

/* 게시판 테이블 공통 */
.tbl_board_wrap {
  border-top: 1px solid #eee;
  background: #fff;
}
.tbl_board_wrap table {
  /* 테이블은 데이터의 길이만큼 늘어나는 성질이 있으므로
    늘어나지않게함 */
  table-layout: fixed;
}
.tbl_board_wrap th {
  height: 50px;
  text-align: center;
}

/* 칸의 가로길이는 %로 처리하는것이 좋음 */
.tbl_board_wrap th.col01 {
  width: 5%;
}
.tbl_board_wrap th.col03 {
  width: 13%;
}

.tbl_board_wrap td {
  height: 60px;
  border-top: 1px solid #eee;
  text-align: center;
}
.tbl_board_wrap .view_link {
  color: #222;
}
.tbl_board_wrap .view_link:hover {
  text-decoration: underline;
}

.tbl_board_wrap .td_left {
  text-align: left;
}

/* 게시물 보기 링크 */
.tbl_board_wrap .view_link {
  white-space: nowrap;
  /* hidden이 되려면 크기가 있어야함 */
  /* 글자가 짧을경우 오른쪽 빈공간이 클릭됨 */
  /* display: block; */
  display: inline-block;
  /* 글자길이만큼의 크기를 가지게함 */
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 게시판 페이지네이션 */
.board_pagination_wrap {
  text-align: center;
  margin-top: 20px;
  border: 1px solid red;
}
.board_pagination_wrap .board_pagination {
  display: inline-block;
  /* 인라인블럭 하단 간격 없애기 */
  vertical-align: top;
}
.board_pagination_wrap .board_pagination .btn_paging {
  float: left;
  width: 22px;
  height: 40px;
  text-indent: -9999px;
  position: relative;
}
.board_pagination_wrap .board_pagination .btn_paging:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background: url(../images/sprite_pc.png) no-repeat;
}
.board_pagination_wrap .board_pagination .first:after {
  background-position: -397px -310px;
}
.board_pagination_wrap .board_pagination .prev:after {
  width: 8px;
  background-position: -369px -182px;
}
.board_pagination_wrap .board_pagination .next:after {
  width: 8px;
  background-position: -30px -431px;
}
.board_pagination_wrap .board_pagination .last:after {
  background-position: -443px -388px;
}

.board_pagination_wrap .board_pagination .prev {
  margin-right: 8px;
}
.board_pagination_wrap .board_pagination .next {
  margin-left: 8px;
}
.board_pagination_wrap .board_pagination .number {
  float: left;
  border: 1px solid #eee;
  width: 38px;
  height: 38px;
  line-height: 38px;
  margin: 0 5px;
}
.board_pagination_wrap .board_pagination .number.active {
  background: #bb0841;
  color: #fff;
  border-color: #bb0841;
}

/* 요금표 테이블 공통 */
.tbl_fee_wrap {
  border-top: 2px solid #333;
}
.tbl_fee_wrap th {
  border: 1px solid #d9d9d9;
  border-top: none;
  font-size: 18px;
  color: #333;
  background: #f7f7f7;
}
.tbl_fee_wrap thead th {
  height: 72px;
}
.tbl_fee_wrap tbody th {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.tbl_fee_wrap td {
  border: 1px solid #d9d9d9;
  border-top: none;
  text-align: center;
  padding: 0 30px;
  height: 58px;
}
.tbl_fee_wrap .td_right {
  text-align: right;
}

.tbl_fee_wrap .col01 {
  width: 21%;
}
.tbl_fee_wrap .col02 {
  width: 15%;
}
.tbl_fee_wrap .col03 {
  width: 16%;
}
.tbl_fee_wrap .col04 {
  width: 16%;
}
.tbl_fee_wrap .col05 {
  width: 16%;
}

/* 크롬,엣지 스크롤바 */
/* ::-webkit-scrollbar { width:10px; background: #eee; }
::-webkit-scrollbar-thumb { background: #999; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #000; } */

/* write 테이블 공통 */
.board_write_wrap .note {
  text-align: right;
  color: #999;
}

.board_write_wrap th {
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0;
  text-align: left;
  font-weight: 500;
}
.board_write_wrap th.th_top {
  vertical-align: top;
}

.board_write_wrap td {
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0;
}
.board_write_wrap .col01 {
  width: 12%;
}
.board_write_wrap .email {
  margin: 0 20px;
}

.board_write_wrap .select_wrap {
  margin-left: 6px;
}
.board_write_wrap .select_wrap2 {
  margin-left: 0;
}

.board_write_wrap .file_note {
  display: inline-block;
  color: #999;
  font-size: 13px;
  margin-left: 30px;
}

/* 입력폼 공통 */
.input_txt {
  width: 100%;
  height: 45px;
  color: #292929;
  text-indent: 15px;
  border: none;
  background: #f8f8f8;
}
.input_txt_small {
  width: 200px;
}

#wrap {
  min-width: 1280px;
  /* height: 2200px; */
  position: relative;
}

#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 9999;
  min-width: 1280px;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
  transition: all 0.5s;
}
#header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 1px;
  background: #e0e0e0;
  z-index: 20;
}
#header:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 360px;
}
#header.on {
  height: 455px;
}
#header .inner {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
#header .inner .logo {
  position: absolute;
  left: 0;
  top: 38px;
}
#header .inner .logo img {
  width: 150px;
}

/* gnb */
#header .gnb_wrap {
  text-align: center;
  height: 100px;
}
#header .gnb {
  display: inline-block;
  position: relative;
}
#header .gnb > li {
  float: left;
  padding: 0 50px;
  line-height: 30px;
  position: relative;
}
#header .gnb > li:hover > a {
  color: #00abcd;
}
#header .gnb > li > a {
  display: block;
  line-height: 100px;
  font-size: 18px;
}
#header .gnb .depth02 {
  position: absolute;
  left: 0px;
  top: 100px;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  height: 360px;
  z-index: 10;
}
#header .gnb .depth02 > li > a {
  display: block;
  font-size: 14px;
  color: #333;
}
#header .gnb .depth02 > li:hover > a {
  color: #00abcd;
}

/* util 로그인, 쇼핑몰 */
#header .util {
  position: absolute;
  right: 0;
  top: 35px;
}
#header .util li {
  float: left;
  margin-left: 20px;
}

/* container */
#container {
  padding-top: 100px;
}

/* SNS */
.main_sns {
  padding: 100px 0;
}
.main_sns .inner {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}
.main_sns .inner h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.main_sns .inner p {
  text-align: center;
  font-size: 20px;
  padding-top: 25px;
}
.main_sns .inner li {
  float: left;
  width: 370px;
  margin-top: 50px;
}
.main_sns .inner .sns_img {
  margin-left: 45px;
}
.main_sns .inner .sns_img_wrap img {
  width: 100%;
  height: 250px;
}

/* NEWS */
.main_news {
  padding: 0 0 100px;
}
.main_news .inner {
  width: 1200px;
  height: 410px;
  margin: 0 auto;
}
.main_news .inner h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.main_news .inner p {
  font-size: 14px;
  color: #929292;
  padding: 20px 0;
}
.main_news .inner strong {
  text-align: center;
  font-size: 15px;
}
.main_news .inner li {
  float: left;
  width: 282px;
  /* margin: 50px 9px 60px; */
  margin-top: 50px;
}
.main_news .inner .news_img {
  margin-left: 24px;
}
.main_news .inner .news_img_wrap img {
  width: 100%;
  height: 200px;
}

/* RECRUIT */
.recruit {
  position: relative;
}
.recruit .rec_img {
  width: 100%;
  height: 265px;
}
.recruit .recruit_txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.recruit h3 {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.recruit p {
  font-size: 15px;
  color: #fff;
  padding-top: 15px;
}

/* footer */
#footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 100px;
}
#footer .inner {
  width: 1200px;
  margin: 0 auto;
  padding: 45px 0;
  position: relative;
}
#footer .inner .menu_wrap {
  float: left;
}
#footer .inner .footer_menu {
  overflow: hidden;
}
#footer .inner .footer_menu li {
  float: left;
}
#footer .inner .footer_menu a {
  font-size: 14px;
  color: #6e6c6c;
}
#footer .inner .footer_menu li + li {
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
}
#footer .inner .footer_menu li + li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 1px;
  height: 13px;
  background: #9f9f9f;
}

/* footer 주소 */
#footer .inner .address {
  font-size: 14px;
  color: #797979;
  margin-top: 15px;
}
#footer .inner .address .bar {
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #9f9f9f;
  margin: 0 12px;
}
#footer .inner .copyright {
  font-size: 13px;
  color: #8f8f8f;
  margin-top: 5px;
}

#footer .footer_right {
  float: right;
}

/* family site */
#footer .family_wrap {
  float: right;
  position: relative;
}
#footer .family_wrap .btn_family {
  width: 185px;
  height: 38px;
  font-size: 14px;
  padding-left: 10px;
  background: none;
  border: 1px solid #7f7f7f;
  text-align: left;
  color: #707070;
  background: url(../images/down.png) no-repeat 95% 60%;
}
#footer .family_wrap .family {
  position: absolute;
  left: 0;
  bottom: 36px;
  width: 183px;
  display: none;
  border: 1px solid #7f7f7f;
  background: #fff;
}
#footer .family_wrap .family li {
  padding: 5px 0 5px 10px;
}
#footer .family_wrap li:hover {
  background: #a1dcfe;
}
#footer .family_wrap a {
  font-size: 14px;
  color: #707070;
  display: block;
  line-height: 20px;
}

/* 하단 sns버튼 */
#footer .sns_wrap {
  position: absolute;
  right: 0;
  bottom: 32px;
}
#footer .sns_wrap .sns li {
  display: inline-block;
  padding-left: 5px;
}

/****************** 서브 *******************/
/***** 로그인 *****/
.sub_login .contents {
  padding-top: 100px;
}
.sub_login .inner {
  width: 1200px;
  margin: 0 auto;
}
.sub_login .login_area {
  border: 1px solid #e5e5e5;
  width: 600px;
  height: 585px;
  padding: 70px 74px;
  box-sizing: border-box;
  margin: 0 auto;
}
.sub_login .login_area h2 {
  font-size: 40px;
  line-height: 40px;
  color: #222;
  text-align: center;
}
.sub_login .login_area p {
  color: #777;
  text-align: center;
  margin: 30px 0 60px 0;
}
.sub_login .login_input input[type='text'] {
  width: 450px;
  height: 60px;
  border: 1px solid #e5e5e5;
  outline: none;
  box-sizing: border-box;
  padding-left: 25px;
  font-size: 16px;
  color: #888;
}
.sub_login .login_input input[type='password'] {
  width: 450px;
  height: 60px;
  border: 1px solid #e5e5e5;
  border-top: none;
  outline: none;
  box-sizing: border-box;
  padding-left: 25px;
  font-size: 16px;
  color: #888;
}
.sub_login .login_area .checkbox_wrap {
  margin-top: 34px;
}
.sub_login .login_area .checkbox_wrap label {
  color: #666;
  font-size: 16px;
}
.sub_login .login_area .signin {
  float: right;
  margin-top: 35px;
}
.sub_login .login_area .signin a {
  font-size: 16px;
  color: #666;
}
.sub_login .login_area .signin li {
  float: left;
}
.sub_login .login_area .signin li + li {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
}
.sub_login .login_area .signin li + li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 1px;
  height: 13px;
  background: #9f9f9f;
}
.sub_login .login_area .btn_login {
  width: 450px;
  height: 70px;
  border: none;
  color: #fff;
  margin-top: 40px;
  background: #00abcd;
}

/***** 제품소개 brand *****/
.sub_brand .contents {
  padding: 100px 0;
}
.sub_brand .inner {
  margin: 0 auto;
  width: 1200px;
}
.sub_brand .inner h2 {
  font-size: 40px;
  line-height: 40px;
  color: #222;
  text-align: center;
  margin-bottom: 35px;
}
.sub_brand .inner p {
  font-size: 18px;
  color: #777;
  text-align: center;
  margin-bottom: 55px;
}
.sub_brand .brand_list {
  text-align: center;
  margin-bottom: 60px;
}
.sub_brand .brand_list_tab {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #f8f8f8;
}
.sub_brand .brand_list_tab li {
  float: left;
  width: calc(1199px / 6);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-right: none;
}
.sub_brand .brand_list_tab li.active {
  background: #fff;
  border-color: #00abcd;
  position: relative;
}
.sub_brand .brand_list_tab li.active:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 49px;
  background: #00abcd;
}
.sub_brand .brand_list_tab a {
  display: block;
  line-height: 48px;
}

.sub_brand .brand_wrap {
  width: 1200px;
  height: 1600px;
  margin: 0 auto;
  border-left: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
}
.sub_brand .brand_view li {
  width: 400px;
  height: 400px;
  float: left;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.sub_brand .brand_view .img_wrap {
  margin: 50px auto;
  width: 200px;
  height: 190px;
}
.sub_brand .brand_view img {
  width: 100%;
}
.sub_brand .brand_wrap .txt_wrap {
  text-align: center;
}
.sub_brand .brand_wrap .txt_wrap p {
  font-size: 14px;
  color: #666;
  margin: 45px 0 20px 0;
}
.sub_brand .brand_wrap .txt_wrap strong {
  font-size: 20px;
  color: #222;
}

/**** 찾아오시는 길 road ****/
.sub_road .contents {
  padding-top: 100px;
}
.sub_road .inner {
  margin: 0 auto;
  width: 1200px;
}
.sub_road .inner h2 {
  font-size: 40px;
  line-height: 40px;
  color: #222;
  text-align: center;
  margin-bottom: 60px;
}
.sub_road .road_list {
  text-align: center;
  margin-bottom: 60px;
}
.sub_road .road_list_tab {
  background: #f8f8f8;
}
.sub_road .road_list_tab li {
  float: left;
  width: calc(1199px / 4);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-right: none;
}
.sub_road .road_list_tab li:nth-child(4) {
  border-right: 1px solid #ddd;
}
.sub_road .road_list_tab li.active {
  background: #fff;
  border-color: #00abcd;
  position: relative;
}
.sub_road .road_list_tab li.active:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 58px;
  background: #00abcd;
}

.sub_road .road_list_tab li a {
  color: #222;
  line-height: 58px;
  display: block;
}

.sub_road #map {
  height: 600px;
}
.sub_road .map_txt {
  padding: 35px 0;
  color: #666;
}
.sub_road .map_txt strong {
  font-size: 16px;
}
.sub_road .map_txt_right {
  float: right;
}
.sub_road .map_txt .address {
  font-size: 14px;
  float: left;
  background: url(../images/address.png) no-repeat;
  padding: 0 20px 0 24px;
}
.sub_road .map_txt .tel {
  font-size: 14px;
  float: right;
  padding-left: 25px;
  background: url(../images/tel.png) no-repeat;
}
.sub_road .navi h3 {
  border-top: 1px solid #e5e5e5;
  font-size: 18px;
  color: #222;
  padding: 45px 0 40px 0;
}
.sub_road .sub_road .navi h4 {
  font-size: 16px;
  color: #222;
  padding-bottom: 15px;
}
.sub_road .navi p {
  color: #222;
  padding-bottom: 40px;
}
.sub_road .navi strong {
  color: #00abcd;
}

/**** 지점안내 office ****/
.sub_office .contents {
  padding-top: 100px;
}
.sub_office .inner {
  margin: 0 auto;
  width: 1200px;
}
.sub_office .inner h2 {
  font-size: 40px;
  line-height: 40px;
  color: #222;
  text-align: center;
  margin-bottom: 60px;
}
.sub_office .office_wrap {
  height: 700px;
}
.sub_office .office_wrap #map {
  width: 700px;
  height: 100%;
  box-sizing: border-box;
  float: right;
}
.sub_office .office_area {
  float: left;
}
.sub_office .office_btn_wrap {
  border: 1px solid #ddd;
  width: 500px;
  height: 90px;
  box-sizing: border-box;
  padding: 22px 50px;
  position: relative;
}
.sub_office .office_search {
  display: inline-block;
  padding-right: 13px;
  position: relative;
}
.sub_office .office_search select {
  width: 160px;
  height: 45px;
  font-size: 14px;
  padding-left: 23px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: left;
  color: #333;
}
.sub_office .office_search:after {
  content: '';
  position: absolute;
  right: 30px;
  top: 27px;
  margin-top: -6px;
  border: 4px solid transparent;
  border-top-color: #666;
}

.sub_office .office_search2 {
  display: inline-block;
  padding-right: 13px;
  position: relative;
}
.sub_office .office_search2 select {
  width: 160px;
  height: 45px;
  font-size: 14px;
  padding-left: 23px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: left;
  color: #333;
}
.sub_office .office_search2:after {
  content: '';
  position: absolute;
  right: 30px;
  top: 27px;
  margin-top: -6px;
  border: 4px solid transparent;
  border-top-color: #666;
}

.sub_office .btn_search {
  position: absolute;
  right: 54px;
  top: 22px;
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  background: url(../images/search.png) no-repeat 50% 50%;
  border: 1px solid #ddd;
}
.sub_office .txt_scroll {
  height: 608px;
  overflow: auto;
  border: 1px solid #e5e5e5;
  border-top: none;
}
.sub_office .office_list li {
  height: 120px;
  padding: 20px 0 20px 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
.sub_office .office_list h3 {
  color: #222;
  font-size: 14px;
  padding-bottom: 10px;
}
.sub_office .office_list p {
  color: #888;
  font-size: 14px;
  padding-bottom: 8px;
}

/***** faq *****/
.sub_faq .contents {
  padding-top: 100px;
}
.sub_faq .inner {
  margin: 0 auto;
  width: 1200px;
}
.sub_faq .inner h2 {
  font-size: 40px;
  line-height: 40px;
  color: #222;
  text-align: center;
  margin-bottom: 25px;
}
.sub_faq .search {
  border: 1px solid #707070;
  width: 500px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.sub_faq .search input[type='text'] {
  width: calc(100% - 50px);
  height: 50px;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 14px;
  color: #666;
}
.sub_faq .faq_btn_search {
  width: 45px;
  height: 46px;
  text-indent: -9999px;
  border: none;
  background: url(../images/search.png) no-repeat 50% 50%;
}
.sub_faq .faq_list {
  text-align: center;
  margin-bottom: 60px;
}
.sub_faq .faq_list_tab {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #f8f8f8;
}
.sub_faq .faq_list_tab li {
  float: left;
  width: calc(1199px / 6);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-right: none;
}
.sub_faq .faq_list_tab li.active {
  background: #fff;
  border-color: #00abcd;
  position: relative;
}
.sub_faq .faq_list_tab li.active:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 39px;
  background: #00abcd;
}
.sub_faq .faq_list_tab li a {
  color: #222;
  line-height: 39px;
  display: block;
}

.sub_faq .faq_list_wrap dt {
  padding: 15px 0;
  position: relative;
  border-bottom: 1px solid #eee;
  color: #222;
}
.sub_faq .faq_list_wrap dt:after {
  content: '';
  position: absolute;
  right: 40px;
  top: 20px;
  display: block;
  width: 15px;
  height: 15px;
  background: url(../images/down.png) no-repeat 0 0;
}
.sub_faq .faq_list_wrap dt:before {
  content: '';
  position: absolute;
  left: 40px;
  top: 12px;
  width: 15px;
  height: 25px;
  background: url(../images/Q.png) no-repeat;
}
.sub_faq .faq_list_wrap dt a {
  margin-left: 100px;
}
.sub_faq .faq_list_wrap dd {
  display: none;
  padding: 15px 0 15px 100px;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: relative;
  color: #666;
}

.sub_faq .faq_list_wrap.active dd {
  display: block;
}
